###### simple config file to find and download data found at the ASF archive

###### API search options
###### Note: do not use the keyword 'output' as this will be set to 'csv' by the code.
[api_search]

###### search options here
platform = Sentinel-1A,Sentinel-1B
processingLevel = SLC
beamMode = IW
###### point location: Singapore
# intersectsWith = point(103.8 1.3)
###### polygon location: use vertex.daac.asf.alaska.edu to draw a polygon, then copy the numbers from the left-hand side text box
polygon = 103.48,1.19,104.14,1.19,104.14,1.67,103.48,1.67,103.48,1.19

###### start/end times (optional, default is all scenes). Note format: YYYY-MM-DDTHH:MM:SSUTC, e.g. 2019-04-01T00:00:00UTC
start=2019-04-01T00:00:00UTC
end=2019-04-15T00:00:00UTC

###### Orbit (path) number
relativeOrbit=18
 
###### Download options: for ASF/AWS selection. Include aws_base_url if using AWS
###### download_site may be AWS, ASF, or both (in this case, tries AWS first)
[download]
download_site = both
# new option to run multiple downloads in parallel
nproc = 2

###### ASF download options: ASF requires fields http-user and http-password for wget
[asf_download]
http-user = 
http-password = 


###### full list of available keywords.
###### for help, see https://www.asf.alaska.edu/get-data/learn-by-doing/
###### note, keywords are case-sensitive
#
# absoluteOrbit
# asfframe
# beamMode
# beamSwath
# collectionName
# end
# intersectsWith
# lookDirection
# flightDirection
# flightLine
# frame
# granule_list
# maxBaselinePerp
# minBaselinePerp
# maxDoppler
# minDoppler
# maxFaradayRotation
# minFaradayRotation
# maxInsarStackSize
# minInsarStackSize
# minPercentCoherence
# minPercentTroposphere
# minPercentUnwrapped
# maxResults
# offNadirAngle
# output
# platform
# polarization
# polygon
# processingLevel
# relativeOrbit
# processingDate
# start
# slaveEnd
# slaveStart
