###### simple config file to find and download data found at the ASF archive

###### API search options
###### Note: do not change the keyword 'output' from csv if using for downloading.
#
[api_search]
# output format: default is csv. may be: CSV, JSON, KML, METALINK, COUNT, DOWNLOAD, GEOJSON
# however, only 'csv' may be used if this will also be used for downloading
output = csv

###### search options here
platform = Sentinel-1A,Sentinel-1B
processingLevel = SLC
beamMode = IW
# polygon location: use search.asf.alaska.edu to draw a polygon, then copy the WKT-formatted polygon from the search bar here
# Albuquerque example:
intersectsWith = POLYGON((-106.7975 34.9141,-106.3267 34.9141,-106.3267 35.3502,-106.7975 35.3502,-106.7975 34.9141))

###### start/end times (optional, default is all scenes). Note format: YYYY-MM-DDTHH:MM:SSUTC, e.g. 2019-04-01T00:00:00UTC
start=2019-04-01T00:00:00UTC
end=2019-05-01T00:00:00UTC

###### Orbit (path) number
relativeOrbit=56
 
###### Download options: for ASF/AWS selection.
###### download_site may be AWS, ASF, or both (in this case, tries AWS first)
[download]
download_site = ASF
# new option to run multiple downloads in parallel
nproc = 6

###### ASF download options: ASF requires fields http-user and http-password for wget
# Enter your own username and password here
[asf_download]
http-user = 
http-password = 


###### Below is a full list of available keywords from ASF's API.
###### for help, read more about the API at https://asf.alaska.edu/api/
###### note, all keywords are case-sensitive!
#
# absoluteOrbit
# asfframe
# beamMode
# beamSwath
# collectionName
# end
# intersectsWith
# lookDirection
# flightDirection
# flightLine
# frame
# granule_list
# maxBaselinePerp
# minBaselinePerp
# maxDoppler
# minDoppler
# maxFaradayRotation
# minFaradayRotation
# maxInsarStackSize
# minInsarStackSize
# minPercentCoherence
# minPercentTroposphere
# minPercentUnwrapped
# maxResults
# offNadirAngle
# output
# platform
# polarization
# polygon
# processingLevel
# relativeOrbit
# processingDate
# start
# slaveEnd
# slaveStart
